@media only screen and (max-width: 630px) {
  .feature-container {
    flex-direction: column;
    align-items: stretch;
    row-gap: 50px;
  }
  .feature-container .title-container,
  .feature-container .gap,
  .feature-container .package-header-icon-floating {
    display: none !important;
  }

  .feature-container .package-data-container {
    display: flex;
    width: 100%;
  }

  .feature-container .package-mobile-title {
    display: block;
  }
  .feature-container .package-top-badge > div {
    left: 20px;
    justify-content: left;
  }
  .feature-container .package-header-icon-mobile {
    width: 55px;
    height: 55px;
  }
  .feature-container .package-header {
    display: flex !important;
    align-items: center !important;
  }
  .feature-container .package-data-container > div:nth-child(1),
  .feature-container .package-header > div:nth-child(1) {
    width: 35%;
    display: block;
  }
  .feature-container .package-data-container > div:nth-child(2),
  .feature-container .package-header > div:nth-child(2) {
    width: 65%;
  }
}
